<div class="modal fade in" ng-controller="ActorController" ng-show="actor!==false">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <p ng-click="showActor(actor.prevItem)" class="actor-paginate actor-paginate-prev"></p>
            <p ng-click="showActor(actor.nextItem)" class="actor-paginate actor-paginate-next"></p>
            <div class="container-fluid" id="actorViewInner">
                <button type="submit" ng-click="killActor()" class="close">&times;</button>
                <div class="row" scroll-spy id="spy-window">
                    <div class="col-sm-5">
                        <div class="page-header">
                            <h1>{{actor.title}}</h1>
                            <h2 class="sansy">{{actor.start_time|amDateFormat:'MMM D, YYYY'}}<br>
                            <p>{{actor.start_time|amDateFormat:'h:mm a'}} <span ng-show="!actor.isInstant">&ndash; {{actor.end_time|amDateFormat:'h:mm a'}}</span></p></h2>
                        </div>
                        <div class="text-window" id="actor-description"></div>
                    </div>
                    
                    <div class="col-sm-7">
                        <ul rn-carousel rn-carousel-indicator rn-carousel-control class="image carousel ng-cloak event-carousel">
                            
                            <li ng-repeat="obj in actor.media_objects">
                                <div ng-if="obj.type=='Video'">
                                  <div ng-controller="VideoCtrl" style="overflow:hidden;">
                                      <div class="proportional-container">
                                        <iframe ng-src="{{getIframeSrc(obj.vimeo_id)}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                      </div>
                                  </div>
                                </div>

                                <div ng-if="obj.type=='Image' || obj.type=='Document'"
                                    class="rn-carousel-slide-item ng-scope">
                                    <img ng-src="http://api.campusmedius.net{{obj.url}}">
                                </div>

                                <div class="caption sansy" ng-bind-html="trustHtml(obj.caption)"></div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
