<div ng-include="'/views/actor.html'" id="actorView"></div>

<leaflet center="centerMarker" width="100%" resize markers="markers" paths="paths" layers="layers" defaults="defaults" event-broadcast="events"></leaflet>
<div id="filters">
    <!--p><select ng-model="historicalFilter" ng-options="value for value in historical" ng-change="filterActors()"></select></p-->
    <div ng-controller="TimelineCtrl">
        <button type="submit" class="btn btn-primary btn-timeline-trigger" slide-toggle="#timeline">timeline</button>
        <div id="timeline" class="slideable" duration="500ms" easing="ease">
            <div class="timelineItems">
                <div ng-repeat="lane in lanes" class="lane">
                    <div class="actor" 
                        ng-repeat="actor in lane" 
                        ng-click="showActor(actor.slug)" 
                        ng-mouseenter="highlightActor(actor.slug)" 
                        ng-mouseleave="highlightActor(actor.slug, true)" 
                        ng-style="{'margin-left':actor.startPercent + '%', width: actor.endPercent - actor.startPercent + '%', 'background-color':'#' + actor.color }">
                            <!--span>#{{actor.slug}}<br />{{actor.start}} - {{actor.end}}</span-->
                    </div>
                </div>
            </div>
            <div id="timelineWrapper">
                <rzslider ng-cloak
                        rz-slider-floor="timelineSlider.floor"
                        rz-slider-ceil="timelineSlider.ceil"
                        rz-slider-model="timelineSlider.min"
                        rz-slider-high="timelineSlider.max"
                        rz-slider-translate="translateTimeline"
                        rz-slider-step="{{timelineSlider.step}}"></rzslider>
            </div>
        </div>
    </div>
</div>
