rzslider span.pointer{
    background-color: #CCC;
}

rzslider span.pointer:after{
    background-color: white;
}

rzslider span.bar{
    background-color: #CCC;
}

body{
    font-family:Arial;
}
input {
    width: 120px;
    margin-right: 10px;
}
h1{
    font-size:26px;
}
h2{
    font-size:20px;
}
#mainHeader{
    margin-top:20px;
    margin-bottom: 20px;
    .nav{
        margin-left:20px;
    }
}
.angular-leaflet-map{
    width:100%;
    height:100%;
    position:absolute;
}
#actorView{
    width:100%;
    height:100%;
    position: absolute;
    z-index:9999;
    top:0;
    margin:0 auto;
    padding:40px 0;
    
    background:rgba(255,255,255, .4);
    box-sizing:border-box;
}
#actorViewInner{
    background:white;
    border:5px solid #CCC;
    padding:20px;
}
#filters{
    position: absolute;
    bottom:0;
    width:100%;
}
#timelineWrapper{
    padding:15px 0;
    background:#EAEAEA;
}
.timelineItems{
    overflow: hidden;
    background-color:white;
    padding:10px;
    .lane{
        clear: both;
        width: 100%;
        float: left;
        border-bottom: 1px solid #EAEAEA;
        padding:5px 0;
        position:relative;
        height:42px;
    }

    .actor{
        box-sizing:border-box;
        border:1px solid #CCC;
        border-radius: 3px;
        margin-bottom: 3px;
        cursor:pointer;
        float:left;
        position:absolute;
        top:5px;
        background:#FAFAFA;
        padding: 3px 5px;
        height: 30px;
        font-size: 9px;
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,.3);

        &:hover{
            background-color:black !important;
            color:white !important;
        }
    }
}

.text-window{
    max-height: 400px;
    overflow:scroll;
    padding-right: 20px;
    position: relative;
}
button.close{
    color:#333;
    opacity:.8;
    margin-right:15px;
}
#actor-media{
    max-height: 420px;

    li{
        display:none;
        opacity:0;
        max-height: 460px;

        &.active{
            display:block;
            opacity:1;
        }

        img{
            max-height: 100%;
        }
    }

    small{
        max-height: 80px;
        overflow:scroll;
        display: block;
        margin-top:25px;
    }
}

.btn-primary{
    color:black !important;
}
.btn-timeline-trigger,
.btn-timeline-trigger:link,
.btn-timeline-trigger:hover,
.btn-timeline-trigger:active,
.btn-timeline-trigger:visited,
.btn-timeline-trigger:focus{
    outline:none;
    border-radius:0;
    background-color:white;
    border:none;
    padding:10px 20px;
}
