$grayLight: #EAEAEA;
$titleFont: 'Titillium Web', sans-serif;
@import 'fonts.css';

rzslider span.pointer{
    background-color: #CCC;
}

rzslider span.pointer:after{
    background-color: white;
}

rzslider span.bar{
    background-color: #CCC;
}
rzslider span.bar.selection{
    background: $grayLight;
}
rzslider span.bubble{
    color: $grayLight;
    font-size: 13px;
}
rzslider span.bubble.limit{
    color: $grayLight;
}
rzslider span.pointer:hover:after,
rzslider span.pointer.active:after{
    background: black;
}
body{
    font-family:Arial;
    font-size:16px;
}
input {
    width: 120px;
    margin-right: 10px;
}
h1,h2,h3{
    font-family: $titleFont;
    font-weight: 600;
}
.lead{
    font-family: $titleFont;
}
h1{
    font-size:26px;
    font-weight: 600;
}
h2{
    font-size:20px;
}
hr{
    width:100%;
}
blockquote, blockquote p{
    border:none;
    font-size: 16px;
    font-style: italic;
}
#mainHeader{
    background: black;
    padding:25px 0;
    .nav{
        margin-left:20px;
    }
}
#mainFooter{
    color:$grayLight;
    padding:12px 0;
    background: black;
    font-size: 11px;
}
.nav a{
    color:white;
    font-family: $titleFont;
    font-size:18px;
}
.nav > li > a:hover{
    border-bottom: 1px solid #666;
    background: transparent;
    border-radius: 0;
}
.nav-pills > li{
    margin-right: 8px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    border-bottom: 1px solid white;
    background: transparent;
    border-radius: 0;
}
.angular-leaflet-map{
    height:400px;
    position:absolute;
}

#filters{
    position: absolute;
    bottom:0;
    width:100%;
}
#timelineWrapper{
    padding-bottom: 15px;
    background:black;
}
.timelineItems{
    overflow: hidden;
    background-color:black;
    padding:10px;
    .lane{
        clear: both;
        width: 100%;
        float: left;
        position:relative;
        height:15px;
    }

    .actor{
        box-sizing:border-box;
        border-right:1px solid black;
        margin-bottom: 3px;
        cursor:pointer;
        float:left;
        position:absolute;
        top:5px;
        background:#FAFAFA;
        padding: 3px 5px;
        height: 15px;
        font-size: 9px;

        &:hover{
            background-color:white !important;
            color:black !important;
        }
    }
}

.text-window{
    max-height: 580px;
    overflow:scroll;
    padding-right: 20px;
    position: relative;
}
button.close{
    color:#333;
    opacity:.8;
    margin-right:15px;
    margin-top:15px;
}
#actor-media{
    max-height: 420px;

    li{
        display:none;
        opacity:0;
        max-height: 460px;

        &.active{
            display:block;
            opacity:1;
        }

        img{
            max-height: 100%;
        }
    }

    small{
        max-height: 80px;
        overflow:scroll;
        display: block;
        margin-top:25px;
    }
}

.btn-primary{
    background: black;
    font-family: $titleFont;
    font-size:18px;
}
.btn-timeline-trigger,
.btn-timeline-trigger:link,
.btn-timeline-trigger:hover,
.btn-timeline-trigger:active,
.btn-timeline-trigger:visited,
.btn-timeline-trigger:focus{
    outline:none;
    border-radius:0;
    background-color:black;
    border:none;
    padding:15px 40px;
}

.page-inverted{
    padding-bottom: 75px;
    min-height: 600px;
}
.page-header{
    h2{
        margin-top: 0;
    }
}

/* modals */
.modal { display: block; }
.modal-full{
    width:90%;
    height:100%;
    margin-top: 0;
    margin-bottom:0;
}

/* leaflet */
.btn-explore{
    text-decoration: underline;
    font-size: 18px;
    font-family: $titleFont;
    font-weight: bold;
}
.leaflet-popup-content-wrapper{
    border-radius: 0;
}
.leaflet-popup-content{
    margin:0;
    min-width:340px;
}
.leaflet-popup-content-inner{
    padding:13px 19px;
    cursor:pointer;
    overflow: hidden;
    font-size: 14px;
}
.leaflet-popup-column{
    width:50%;
    strong{
        font-family: $titleFont;
        font-size:18px;
    }
    img{
        max-width: 100% !important;
    }
}
.leaflet-popup-tip{
    display: none;
}
.media-icons{
    font-size: 24px;
    margin-left: 0;
    margin-top:10px;
    li{
        padding-right: 2px;
        padding-left: 2px;
    }
}
/* carousel */
.carousel img{
    max-width: 95%;
    margin: 0 auto;
    display:block;

}
.rn-carousel-container{
    position: relative;
    padding-top: 40px;
}
.rn-carousel-indicator{
    background: transparent;
    position: absolute;
    top: 0;

    span{
        font-size: 25px;
    }
    .active{
        color:#CCC;
    }
}
.rn-carousel-control{
    opacity:.4;
    top:250px;
}
.rn-carousel-control:before{
    background: rgba(255,255,255,.6);
    border-radius: 100%;
    padding: 5px;
}
.rn-carousel-control.rn-carousel-control-next:before{
    content: "\e600";
    font-family: icomoon;
}
.rn-carousel-control.rn-carousel-control-prev:before{
    content: "\e601";
    font-family: icomoon;
}
.event-carousel{
    width:100%;
    .rn-carousel-slide{
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;
        overflow:scroll;
    }
    .rn-carousel-slide-item{
        max-height: 600px;
        overflow: scroll;
    }
}
videogular{
    min-width: 100%;
    min-height: 500px;
}
vg-controls{
    bottom:0;
    top: initial !important
}

.caption{
    // position: absolute;
    // bottom: 0;
    //max-height: 90px;
    // background: rgba(0,0,0,.6);
    // color: white;
    width: 100%;
    padding:10px;
    overflow: scroll;
    font-size: 14px;
    a{
        font-weight: bold;
        color:white;
        text-decoration: underline;
    }
}